.subscribe {
	display: flex;
	align-items: flex-start;
	input {
		border: 0px;
		width: 60%;
		border-radius: 10px 0 0 10px;
		padding: 10px 12px;

		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		color: #000;

		&:focus {
			outline: none;
		}
	}
	button {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		color: #fff;

		height: 100%;
		width: 40%;
		padding: 0px;
		border: 0px;
		margin: 0px;
		border-radius: 0 10px 10px 0px;
		background: $mainColor;
		padding: 10px 14px;
	}
}


.input {
	&.input__radio {
		margin-right: 10px;
		margin-bottom: 0px;
		cursor: pointer;
		position: relative;
		padding: 4px;
		input {
			display: none;
		}
		span {
			width: 60px;
			padding: 2px 4px;
			border: 1px solid #E5E5E5;
			display: flex;
			align-items: center;
			justify-content: center;

			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #656565;
		}
		input:checked + span {
			&:before {
				left: 0px;
				top: 0px;
				position: absolute;
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				border: 1px solid #000;
			}
		}
		&:last-child {
			margin-right: 0px;
		}
	}
}

.input_pay {
	width: unset;
	display: flex;
	align-items: center;

	cursor: pointer;
	input {
		display: none;
	}
	.input__element {
		min-width: 20px;
		min-height: 20px;
		max-width: 20px;
		max-height: 20px;
		border-radius: 100%;
		display: block;
		background-color: #f7f7f7;
		border: 1px solid #dbdbdb;
		margin-right: 10px;
		transition: .3s;
	}
	input:checked + span {
		border: 6px solid $mainColor;
		transition: .3s;
	}
}
.select-control {
	select.form-control {
		font-weight: normal!important;
		border: 1px solid #E5E5E5!important;
		cursor: pointer;
		padding: 3px 24px 3px 12px;
		&:focus {
			border: 1px solid #E5E5E5;
		}
	}
}
