.aboutus-content {
	padding: 100px 0px 150px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.accordion {
	.card-header {
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			&:hover {

			}
			&.dropdown-toggle {
				color: $mainColor;
				&.collapsed {
					color: #000;
				}
			}
		}
	}
}
