.stock {
	padding: 100px 0 150px 0;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}

	ol {
		padding-left: 24px;
		li {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			span {
				color:#FE4536;
			}
		}
	}
}
