.btn {
	background: $mainColor;
	border-radius: 3px;
	padding: 9px 25px;
	border: 0px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;

	transition: $mainTransition;
	&:hover {
		background: #131313;
		color: #fff;
		transition: $mainTransition;
	}
	&.btn_call {
		background: none;
		text-transform: unset;
		border: 0px;
		padding: 0px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		padding-bottom: 2px;
		border-bottom: 1px solid #000;
		border-radius: 0px;
		transition: $mainTransition;
		&:hover {
			color: $mainColor;
			border-bottom: 1px solid $mainColor;
			transition: $mainTransition;
			text-decoration: none;
		}
	}
	&.btn_cart {
		background: none;
		text-transform: unset;
		border: 0px;
		padding: 0px;
		display: block;
		margin-bottom: 10px;
		color: #000;

		transition: $mainTransition;
		&:hover {
			color: $mainColor;
			transition: $mainTransition;
		}
	}
	&.btn_checkout {
		display: block;
		background: $mainColor;
		text-transform: unset;
		border: 0px;
		padding: 10px 14px;

		color: #fff;
		font-size: 16px;
		line-height: 20px;
		&:hover {
			background: #131313;
		}
	}
	&.btn_sale {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 37px;
		height: 37px;
		background: #e9ecef;
		padding: 0px;
		border-radius: 100%;
		transition: $mainTransition;
		svg {
			path {
				fill: #000;
				transition: $mainTransition;
			}
		}
		&:hover {
			background: #e2e6ea;
			transition: $mainTransition;
			svg {
				path {
					fill: $mainColor;
					transition: $mainTransition;
				}
			}
		}
	}
	&.btn_file {
		background: none;
		color: #000;

		display: flex;
		align-items: center;

		transition: $mainTransition;
		svg {
			width: 30px;
			margin-right: 10px;
			transition: $mainTransition;
		}
		&:hover {
			background: none;
			color: $mainColor;
			transition: $mainTransition;
			svg {
				path {
					fill: $mainColor;
					transition: $mainTransition;
				}
			}
		}
	}
}

.phone-link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	&:hover {
		color: $mainColor;
		transition: $mainTransition;
		text-decoration: none;
	}
}
