.breadcrumb-area {
	background-image: url("../images/bread.jpg");
	padding: 130px 0 95px 0px;
	background-color: #f5f5f5;
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
	nav {
		background: none;
		padding: 0px;
		border: 0px;
	}
	.breadcrumb .breadcrumb-item a,
	.breadcrumb .breadcrumb-item  {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	.breadcrumb {
		padding: 6px 0px 12px 0px;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
nav[aria-label=breadcrumb] .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	width: 5px;
	height: 9px;
	font-family: Gilroy!important;
	content: ""!important;
	font-weight: normal;
	background: url("../images/breadarrow.svg") no-repeat center center;
	background-size: 5px;


	padding: 0px;
	font-size: 18px;
	margin-top: 2px;
	margin-right: .5rem;
}
nav[aria-label=breadcrumb] .breadcrumb .breadcrumb-item a:hover {
	color: $mainColor;
}
