<section class="banners-content pro-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-4 pb-3 pb-lg-0">
				<figure class="banner-image" >
					<img class="img-fluid lazyload" src="images/item1.png" alt="Banner Image">
					<div class="banner-caption right-caption d-flex flex-column align-items-end align-items-lg-start justify-content-start">
						<span class="h2 text-left">Садовые<br>дорожки</span>
						<a href="#" class="btn">В каталог</a>
					</div>
				</figure>
			</div>
			<div class="col-12 col-lg-4 pb-3 pb-lg-0">
				<figure class="banner-image" >
					<img class="img-fluid lazyload" src="images/item2.png" alt="Banner Image">
					<div class="banner-caption right-caption d-flex flex-column align-items-end align-items-lg-start justify-content-start">
						<span class="h2 text-left">Декоративный<br>садовый забор</span>
						<a href="#" class="btn">В каталог</a>
					</div>
				</figure>
			</div>
			<div class="col-12 col-lg-4 pb-3 pb-lg-0">
				<figure class="banner-image" >
					<img class="img-fluid lazyload" src="images/item3.png" alt="Banner Image">
					<div class="banner-caption right-caption d-flex flex-column align-items-end align-items-lg-start justify-content-start">
						<span class="h2 text-left">Джутовый<br>канат</span>
						<a href="#" class="btn">В каталог</a>
					</div>
				</figure>
			</div>
		</div>
	</div>
</section>
