footer(class="footer")
	div(class="container")
		div(class="row py-5")
			div(class="col-12 col-lg-3 pb-3 pb-lg-0")
				<div class="logo mb-3">
					<a href="#">
						<img class="img-fluid lazyload" data-src="images/logo.png" alt="logo">
					</a>
				</div>
				p
					| Обработка и изготовление изделий из дерева
			div(class="col-12 col-lg-2 pb-3 pb-lg-0")
				ul(class="footer__nav")
					li
						a(href="#")
							| Каталог
					li
						a(href="#")
							| О компании
					li
						a(href="#")
							| Оплата и доставка
					li
						a(href="#")
							| Контакты
			div(class="col-12 col-lg-4 pb-3 pb-lg-0")
				span(class="footer__title")
					| Подписывайтесь:
				form(class="subscribe pt-3" method="post" action="index.php")
					input(type="text" placeholder="Ваш e-mail")
					button(type="submit")
						| Подписаться
			div(class="col-12 col-lg-3")
				p
					| г. Копейск, ул. Кожевникова 20/8
				a(class="footer__link" href="mailto:info@rosma-ural.ru")
					| info@rosma-ural.ru
				a(class="footer__link" href="tel:+79191235631")
					| +7 919 123-56-31
		div(class="footer__line")
		div(class="row py-4")
			div(class="col-12")
				a(href="#" class="copyright d-block text-center text-lg-left")
					| Политика конфиденциальности
