<section class="pro-content hot-block">
	<div class="container">
		<div class="row pb-5">
			<div class="col-12 d-flex justify-content-between align-items-center">
				<h2>Новинки каталога</h2>
				<a class="hot-block__link" href="#">Полный каталог</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="tab-carousel-js">
					- for (var i = 0; i < 7; i++)
						<div class="">
							<div class="product">
								<article>
									<div class="pro-thumb">
										<a href="#">
											<img class="img-fluid " src="images/item.png" alt="Product-Image">
										</a>
										<div class="badges">
											<div class="badge badge_sale">Распродажа</div>
										</div>
									</div>
									form(action="" method="")
										<div class="pro-info pb-2">
											<a href="#">Стойки для вигвама (Разборные)</a>
											<div class="pro-price">
												<span>135 ₽<span>135 ₽</span></span>
												<button  class="btn btn_sale" type="submit">
													<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M5.79941 11.6369H5.80023C5.80092 11.6369 5.80161 11.6367 5.80229 11.6367H15.3633C15.5987 11.6367 15.8056 11.4806 15.8703 11.2543L17.9797 3.87145C18.0251 3.71228 17.9933 3.54117 17.8937 3.40906C17.794 3.27695 17.6381 3.19922 17.4727 3.19922H4.58322L4.20625 1.5028C4.15256 1.26151 3.9386 1.08985 3.69141 1.08985H0.527344C0.236069 1.08985 0 1.32592 0 1.61719C0 1.90847 0.236069 2.14453 0.527344 2.14453H3.26843C3.33517 2.44515 5.07239 10.2627 5.17236 10.7125C4.61192 10.9561 4.21875 11.5149 4.21875 12.1641C4.21875 13.0364 4.92847 13.7461 5.80078 13.7461H15.3633C15.6546 13.7461 15.8906 13.51 15.8906 13.2188C15.8906 12.9275 15.6546 12.6914 15.3633 12.6914H5.80078C5.51006 12.6914 5.27344 12.4548 5.27344 12.1641C5.27344 11.8738 5.50923 11.6375 5.79941 11.6369ZM16.7735 4.25391L14.9654 10.582H6.22375L4.8175 4.25391H16.7735Z"/>
														<path d="M5.27344 15.3281C5.27344 16.2004 5.98315 16.9102 6.85547 16.9102C7.72778 16.9102 8.4375 16.2004 8.4375 15.3281C8.4375 14.4558 7.72778 13.7461 6.85547 13.7461C5.98315 13.7461 5.27344 14.4558 5.27344 15.3281ZM6.85547 14.8008C7.14619 14.8008 7.38281 15.0374 7.38281 15.3281C7.38281 15.6189 7.14619 15.8555 6.85547 15.8555C6.56474 15.8555 6.32813 15.6189 6.32813 15.3281C6.32813 15.0374 6.56474 14.8008 6.85547 14.8008Z"/>
														<path d="M12.7266 15.3281C12.7266 16.2004 13.4363 16.9102 14.3086 16.9102C15.1809 16.9102 15.8906 16.2004 15.8906 15.3281C15.8906 14.4558 15.1809 13.7461 14.3086 13.7461C13.4363 13.7461 12.7266 14.4558 12.7266 15.3281ZM14.3086 14.8008C14.5993 14.8008 14.8359 15.0374 14.8359 15.3281C14.8359 15.6189 14.5993 15.8555 14.3086 15.8555C14.0179 15.8555 13.7812 15.6189 13.7812 15.3281C13.7812 15.0374 14.0179 14.8008 14.3086 14.8008Z"/>
													</svg>
												</button>
											</div>
										</div>
										<div class="d-flex justify-content-start pb-3">
											label(class="input input__radio")
												input(type="radio" name="option1" value="" checked)
												span()
													| 22 мм.
											label(class="input input__radio")
												input(type="radio" name="option1" value="" )
												span()
													| 25 мм.
											label(class="input input__radio")
												input(type="radio" name="option1" value="" )
												span()
													| 30 мм.
										</div>
										<div class="d-flex justify-content-start">
											label(class="input input__radio")
												input(type="radio" name="option2" value="" checked)
												span()
													| 1,8 м.
											label(class="input input__radio")
												input(type="radio" name="option2" value="" )
												span()
													| 2 м.
										</div>
								</article>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div> 
</section>
