.copyright {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #656565;

	transition: $mainTransition;
	&:hover {
		color: $mainColor;
		text-decoration: none;
		transition: $mainTransition;
	}
}

.footer {
	background: rgba(174, 88, 29, 0.08);
	.footer__line {
		border-bottom: 1px solid #656565;
	}
	p {
		font-size: 14px;
		line-height: 16px;
	}
}

.footer__nav {
	padding: 0px;
	margin: 0px;
	li {
		list-style: none;
		margin-bottom: 14px;
		&:last-child {
			margin: 0px;
		}
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: #000000;

			transition: $mainTransition;
			&:hover {
				color: $mainColor;
				text-decoration: none;
				transition: $mainTransition;
			}
		}
	}
}
.footer__title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #000000;

	margin: 0px;
}
.footer__link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;

	display: block;
	margin-bottom: 16px;
	transition: $mainTransition;
	&:hover {
		color: $mainColor;
		transition: $mainTransition;
		text-decoration: none;
	}
}
