.catalog-area {
	padding-bottom: 80px;
	.catalog-area__title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		display: block;
		margin-bottom: 19px;
	}
	.sidebar {
		ul {
			padding: 0px;
			margin: 0px;
			padding-left: 15px;
			li {
				list-style: none;
				a {
					font-family: Gilroy;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 17px;
					color: #000000;
					padding-bottom: 2px;
					border-bottom: 1px solid transparent;
					transition: $mainTransition;
					&:hover {
						text-decoration: none;
						color: #000;
						border-bottom: 1px solid #000;
						transition: $mainTransition;
					}
				}
				&.active {
					a {
						color: $mainColor;
						border-bottom: 1px solid $mainColor;
					}
				}
			}
		}
	}

	.product {
		.pro-price {
			padding: 5px 0 15px 0;
		}
		.product__title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			display: inline-block;
			padding: 0px;
			margin-bottom: 12px;
			transition: $mainTransition;
			&:hover {
				text-decoration: none;
				color: #000;
				transition: $mainTransition;
			}
		}
		.btn {
			&.btn_sale {
				width: unset;
				height: unset;
				background: none;
				span {
					width: 37px;
					height: 37px;

					display: flex;
					justify-content: center;
					align-items: center;

					background-color: #E5E5E5;
					border-radius: 100%;
					margin-right: 20px;
				}

				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				color: #000000;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 30px;
			border-bottom: 2px solid rgba(0,0,0,0.5);
		}
	}
	.pro-thumb {
		position: relative;
		.badges {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 0px;

			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.badge {
				padding: 5px;
				margin-right: 10px;
				margin-bottom: 10px;
				display: inline-block;
				&.badge_sale {

				}
			}
		}
	}

}
.pagination {
	padding: 15px 0px;
	.page-item {
		&.active {
			.page-link {
				color: $mainColor;
			}
		}
		.page-link {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			&.page-link-next,
			&.page-link-prev {
				width: 35px;
				height: 35px;
				padding: 0px;
				min-width: unset;
				border-radius: 100%;
			}
		}
	}
	@media (max-width: 991px) {
		padding-top: 0px;
		border: 0px;
	}
}
