extends base.pug
block content
	- BreadcrumbTitle = "О компании"
	include components/breadcrumb-area.pug
	<section class="aboutus-content">
		<div class="container">
			<div class="row justify-content-center about-info">
				<div class="col-12 col-md-8 ">
					<div class="row">
						<div class="col-12 col-lg-4">
							<img data-src="images/14_01_about-us1.jpg" alt="profile"  class="img-fluid w-100 lazyload">
						</div>
						<div class="col-12 col-lg-8">
							<div class="body-detail">
								<h2>Имя Фамилия <small>Должность</small></h2>
								p
									| А здесь комментарий. Какой-то. Ну может быть...
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container accordion-main pro-content">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="heading">
						<h2>Наша миссия</h2>
					</div>
					<div class="accordion-card">
						<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
							<div class="card">
								<div class="card-header" role="tab" id="headingOne1">
									<a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1" class="dropdown-toggle">Кто мы</a>
								</div>
								<div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx" style="">
									<div class="card-body">
										p
											| Что делаем. Ну хоть немного текста.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingTwo2">
									<a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseOne1" class="dropdown-toggle collapsed">Кто мы</a>
								</div>
								<div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
									<div class="card-body">
										p
											| Что делаем. Ну хоть немного текста.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" role="tab" id="headingThree3">
									<a data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3" class="dropdown-toggle collapsed">Кто мы</a>
								</div>
								<div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
									<div class="card-body">
										p
											| Что делаем. Ну хоть немного текста.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 pt-5 pt-lg-0">
					<div class="heading">
						<h2>Оффер</h2>	
					</div>
					p(class="peragraph2")
						| Текст
					p(class="peragraph2")
						|  Еще текст. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
		</div>
	</section>
