doctype html
html(lang="ru")
	head
		<meta charset="UTF-8">
		<title>РОСМА-Урал</title>

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="icon" type="image/png" href="images/fav.png">
		
		link(rel="stylesheet" type="text/css" href="css/main.min.css")
		
		
		
	body
		<div class="se-pre-con">
			<div class="pre-loader">
				<img class="lazyload" data-src="images/Preloader_2.gif" alt="img">
			</div>
		</div>
		include components/header-area.pug
		block content
		include components/footer-area.pug
		<div class="mobile-overlay"></div>
		<a href="#" class="btn-secondary " id="back-to-top" title="Back to top">&uarr;</a>
		<div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalCallTitle">Бесплатная консультация</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						form(action="" method="")
							<div class="from-group row mb-3">
								<div class="col-12">
									<label>Ваша Имя</label>
								</div>
								<div class="input-group col-12">
									<input type="text" class="form-control" id="inlineFormInputGroup00" placeholder="Имя">
								</div>
							</div>
							
							<div class="from-group row mb-3">
								<div class="col-12">
									<label>Номер телефона</label>
								</div>
								<div class="input-group col-12">
									<input type="tel" class="form-control" id="inlineFormInputGroup1" placeholder="Телефон">
								</div>
							</div>
							div(class="pt-4")
								button(type="submit" class="btn")
									| Отправить
									<form class="write-review" method="" action="">
					</div>
				</div>
			</div>
		</div>
		script(src="js/main.min.js")
