extends base.pug
block content
	- BreadcrumbTitle = "Блог"
	include components/breadcrumb-area.pug
	<section class="blog-content blog-inner">
		<div class="container"> 
			<div class="row">
				<div class="col-12 col-lg-12 pro-blog-content">
					<div class="row">
						<div class="col-12 col-md-12">
							<div class="blog">
								<div class="blog-thumb">
									<img class="img-fluid w-100 lazyload" data-src="images/f_blog_post_1.jpg" alt="Blog-Image">
								</div>
								<div class="blog-info">
									<div class="blog-meta">
										<div class="d-flex align-items-center">
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M15.8906 1.40625H15.0469V0H13.6406V1.40625H4.35938V0H2.95312V1.40625H2.10938C0.946266 1.40625 0 2.35252 0 3.51562V15.8906C0 17.0537 0.946266 18 2.10938 18H15.8906C17.0537 18 18 17.0537 18 15.8906V3.51562C18 2.35252 17.0537 1.40625 15.8906 1.40625ZM16.5938 15.8906C16.5938 16.2783 16.2783 16.5938 15.8906 16.5938H2.10938C1.72167 16.5938 1.40625 16.2783 1.40625 15.8906V6.60938H16.5938V15.8906ZM16.5938 5.20312H1.40625V3.51562C1.40625 3.12792 1.72167 2.8125 2.10938 2.8125H2.95312V4.21875H4.35938V2.8125H13.6406V4.21875H15.0469V2.8125H15.8906C16.2783 2.8125 16.5938 3.12792 16.5938 3.51562V5.20312Z" fill="black"/>
												<path d="M4.07812 8.08594H2.67188V9.49219H4.07812V8.08594Z" fill="black"/>
												<path d="M6.89062 8.08594H5.48438V9.49219H6.89062V8.08594Z" fill="black"/>
												<path d="M9.70312 8.08594H8.29688V9.49219H9.70312V8.08594Z" fill="black"/>
												<path d="M12.5156 8.08594H11.1094V9.49219H12.5156V8.08594Z" fill="black"/>
												<path d="M15.3281 8.08594H13.9219V9.49219H15.3281V8.08594Z" fill="black"/>
												<path d="M4.07812 10.8984H2.67188V12.3047H4.07812V10.8984Z" fill="black"/>
												<path d="M6.89062 10.8984H5.48438V12.3047H6.89062V10.8984Z" fill="black"/>
												<path d="M9.70312 10.8984H8.29688V12.3047H9.70312V10.8984Z" fill="black"/>
												<path d="M12.5156 10.8984H11.1094V12.3047H12.5156V10.8984Z" fill="black"/>
												<path d="M4.07812 13.7109H2.67188V15.1172H4.07812V13.7109Z" fill="black"/>
												<path d="M6.89062 13.7109H5.48438V15.1172H6.89062V13.7109Z" fill="black"/>
												<path d="M9.70312 13.7109H8.29688V15.1172H9.70312V13.7109Z" fill="black"/>
												<path d="M12.5156 13.7109H11.1094V15.1172H12.5156V13.7109Z" fill="black"/>
												<path d="M15.3281 10.8984H13.9219V12.3047H15.3281V10.8984Z" fill="black"/>
											</svg>
											span(class="pl-2")
												| 14.07.2020
										</div>
									</div>
									<h2>Название статьи в h2</h2>
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									ul
										li
											| li 1
										li
											| li 2
										li
											a(href="#")
												| link li 3
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
