extends base.pug
block content
	- BreadcrumbTitle = "Корзина"
	include components/breadcrumb-area.pug
	<section class="pro-content cart-content">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 cart-page-two cart-area">
					- for (var i = 0; i < 5; i++)
						<div class="row">
							<div class="col-12 col-lg-12" >
								<table class="table top-table">
									<tbody>
										<tr class="d-flex">
											<td class="col-12 col-lg-2">
												<img class="img-fluid w-100 lazyload" data-src="images/item.png" alt="CartImage">
											</td>
											<td class="col-12 col-lg-4">
												<div class="item-detail">
													<a href="#">Название название название название название</a>
												</div>
											</td>
											<td class="col-12 col-lg-1 item-price">135 ₽</td>
											<td class="col-12 col-lg-2 justify-content-center" >
												<form class="input-group-control" action="" method="">
													<input type="text" id="quantity" name="quantity" class="form-control" maxlength="2" value="10" size="2">
													<span class="input-group-btn">
														<button type="button" value="quantity" class="quantity-plus btn btn-outline-secondary" data-type="plus" data-field="">+</button>
														<button type="button" value="quantity" class="quantity-minus btn btn-outline-secondary" data-type="minus" data-field="">-</button>
													</span>
												</form>
											</td>
											<td class="col-12 col-lg-1 item-total">135 ₽</td>
											<td class="col-12 col-lg-2 align-middle">
												<form class="item-control" action="" method="">
													<button type="submit" class="item-detail__delete">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
															<g clip-path="url(#clip10)">
																<path d="M21.7442 5.36444L21.2143 3.776C21.0125 3.17102 20.4483 2.76453 19.8108 2.76453H15.3571V1.31451C15.3571 0.589783 14.7678 0 14.0433 0H9.96481C9.24044 0 8.65103 0.589783 8.65103 1.31451V2.76453H4.19754C3.55978 2.76453 2.99563 3.17102 2.79385 3.776L2.26394 5.36444C2.14328 5.72607 2.20443 6.12653 2.42727 6.43579C2.65011 6.74506 3.01065 6.92981 3.39187 6.92981H3.94577L5.16488 22.0051C5.25552 23.1237 6.20474 24 7.32626 24H16.9292C18.0506 24 19 23.1237 19.0904 22.0049L20.3095 6.92981H20.6162C20.9975 6.92981 21.358 6.74506 21.5808 6.43597C21.8037 6.12671 21.8648 5.72607 21.7442 5.36444ZM10.0573 1.40625H13.9508V2.76453H10.0573V1.40625ZM17.6887 21.8915C17.6569 22.2854 17.3233 22.5938 16.9292 22.5938H7.32626C6.93222 22.5938 6.5986 22.2854 6.56674 21.8915L5.35659 6.92981H18.8987L17.6887 21.8915ZM3.69345 5.52356L4.12796 4.22095C4.13784 4.19092 4.16586 4.17078 4.19754 4.17078H19.8108C19.8424 4.17078 19.8703 4.19092 19.8803 4.22095L20.3148 5.52356H3.69345Z" fill="black"></path>
																<path d="M15.4459 21.8417C15.4583 21.8424 15.4706 21.8426 15.483 21.8426C15.8545 21.8426 16.1651 21.5515 16.1845 21.1761L16.8448 8.5012C16.8649 8.11338 16.5668 7.78251 16.1792 7.76237C15.7905 7.74168 15.4607 8.04014 15.4404 8.42795L14.7803 21.1029C14.7601 21.4907 15.058 21.8216 15.4459 21.8417Z" fill="black"></path>
																<path d="M7.85457 21.1778C7.87508 21.5526 8.18526 21.8426 8.55604 21.8426C8.56886 21.8426 8.58205 21.8423 8.59505 21.8415C8.98268 21.8205 9.27986 21.489 9.2588 21.1012L8.56721 8.4263C8.54616 8.03849 8.21474 7.74131 7.82692 7.76255C7.43929 7.7836 7.14211 8.11502 7.16316 8.50284L7.85457 21.1778Z" fill="black"></path>
																<path d="M12.0117 21.8427C12.4001 21.8427 12.7148 21.5279 12.7148 21.1395V8.4646C12.7148 8.07623 12.4001 7.76147 12.0117 7.76147C11.6234 7.76147 11.3086 8.07623 11.3086 8.4646V21.1395C11.3086 21.5279 11.6234 21.8427 12.0117 21.8427Z" fill="black"></path>
															</g>
															<defs>
																<clipPath id="clip10">
																	<rect width="24" height="24" fill="white"></rect>
																</clipPath>
															</defs>
														</svg>
													</button>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					<form class="row" action="" method="">
						<div class="col-12 pb-4">
							<h2>Информация</h2>
						</div>
						<div class="col-12 col-lg-6">
							<div class="row">
								<div class="col-12 pb-4">
									<input type="text" class="form-control" placeholder="Получатель">
								</div>
								<div class="col-12 col-lg-6 pb-4">
									<input type="text" class="form-control" placeholder="Телефон">
								</div>
								<div class="col-12 col-lg-6 pb-4">
									<input type="text" class="form-control" placeholder="Email">
								</div>
								<div class="col-12 col-lg-6 pb-4">
									<input type="text" class="form-control" placeholder="Город">
								</div>
								<div class="col-12 col-lg-6 pb-4">
									<input type="text" class="form-control" placeholder="Адрес">
								</div>
								<div class="col-12 pb-4">
									<p>Способ оплаты</p>
									<label class="input_pay" style="">
										<input type="radio" name="payment" value="1" id="payment_1">
										<span class="input__element"></span>
										<span>Наличными</span>
									</label>
									<label class="input_pay" style="">
										<input type="radio" name="payment" value="2" id="payment_2">
										<span class="input__element"></span>
										<span>Картой</span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="summery">
								<table class="table right-table">
									<tbody>
										<tr>
											<th >Стоимость</th>
											<td  class="justify-content-end d-flex">135 ₽</td>
										</tr>
										<tr>
											<th >Скидка</th>
											<td class="justify-content-end d-flex">135 ₽</td>
										</tr>
										<tr class="item-price">
											<th>Цена</th>
											<td class="justify-content-end d-flex" >135 ₽</td>
										</tr>
									</tbody>
								</table>
								<button type="submit" class="btn btn-link btn-block">Оплатить</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
