extends base.pug
block content
	- BreadcrumbTitle = "Контакты"
	include components/breadcrumb-area.pug

	<section class="contact-content contacts-area">
		<div class="container"> 
			div(class="row pb-5")
				div(class="col-12")
					iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.3888000569227!2d61.60640609508362!3d55.11808636042557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5f3e6bb69b617%3A0x669903888788a139!2z0YPQuy4g0JrQvtC20LXQstC90LjQutC-0LLQsCwgMjAsINCa0L7Qv9C10LnRgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjYwNA!5e0!3m2!1sru!2sru!4v1597729175130!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
			<div class="row">
				<div class="col-12 col-sm-12">
					<div class="row">
						<div class="col-12 col-lg-6">
							<h2 class="title mb-1">Информация</h2>
							p(class="mb-5")
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<div class="row">
								<div class="col-sm-6">
									<div class="contact-info">
										<h3>Адрес</h3>
										<ul class="contact-list">
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/phone (1) 1.svg" alt="img")
												span
													| г. Копейск, ул. Кожевникова 20/8
											</li>
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/mail.svg" alt="img")
												<a href="tel:+79191235631">+7 919 123-56-31</a>
											</li>
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/pin 1.svg" alt="img")
												<a href="mailto:info@rosma-ural.ru">info@rosma-ural.ru</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="contact-info">
										<h3>Часы работы</h3>
										<ul class="contact-list">
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/time.svg" alt="img")
												span
													| Пн-пт<br>8:00 - 18:00
											</li>
											<li class="d-flex align-items-center">
												span(class="contact-icon-box mr-3")
													img(class="lazyload" data-src="images/time.svg" alt="img")
												span
													| Сб-вс<br>10:00 - 16:00
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div> 
						<div class="col-12 col-lg-6">
							<form class="write-review" method="" action="">
								<h2 class="pb-4">Напишите нам</h2>
								<div class="write-review-box">
									<div class="from-group row mb-3">
										<div class="col-12">
											<label>Ваше имя</label>
										</div>
										<div class="input-group col-12">
											<input type="text" class="form-control" id="inlineFormInputGroup00" placeholder="Имя">
										</div>
									</div>
									<div class="from-group row mb-3">
										<div class="col-12">
											<label>Ваша почта</label>
										</div>
										<div class="input-group col-12">
											<input type="text" class="form-control" id="inlineFormInputGroup1" placeholder="Email">
										</div>
									</div>
									<div class="from-group row mb-3">
										<div class="col-12">
											<label>Ваша почта</label>
										</div>
										<div class="input-group col-12">
											<textarea class="form-control" id="inlineFormInputGroup3" placeholder="Сообщение"></textarea>
										</div>
										<div class="from-group pt-4 col-12">
											<button type="submit" class="btn btn-secondary swipe-to-top">Отправить</button>
										</div>
									</div>
								</div>
							</form>
						</div>     
					</div>
				</div>
			</div>
		</div>      
	</section>
