extends base.pug
block content
	- BreadcrumbTitle = "Акции"
	include components/breadcrumb-area.pug
	
	section(class="delivery-area")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="delivery-area__preview")
						img(class="w-100 img-fluid lazyload" data-src="images/f_blog_post_1.jpg" alt="img")
					h2
						| Самовывоз
					p
						| Оплаченный товар Вы можете получить на нашем складе по адресу: г. Москва, ул. Полярная, 41. Для юридических лиц и индивидуальных предпринимателей при получении товара при себе необходимо иметь паспорт и доверенность на получение ТМЦ по форме М2(а), оформленную должным образом. График работы склада: с понедельника по четверг с 9-00 до 17-30, в пятницу - с 9 до 16.30. Суббота, воскресенье - выходные дни.
					h2
						| Доставка по Москве и московской области
					ul
						li
							| Если сумма Вашего заказа превышает 30 тыс. рублей и адрес доставки в пределах МКАД - мы доставим товар бесплатно, как правило на следующий рабочий день;
						li
							| Если сумма Вашего заказа превышает 30 тыс. рублей, но адрес доставки в Новой Москве или ближайшем Подмосковье - условия доставки оговариваются с менеджером;
						li
							| Если сумма Вашего заказа менее 30 тыс. рублей - доставка платная. По Москве: 400-1500 руб в зависимости от объема и веса заказа. При доставке по Московской области добавляется стоимость за километраж от МКАД - 30 руб/км.
