extends base.pug
block content
	<div class="carousel-content">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					div(class="h-100 d-flex align-items-center")
						div(class="carousel-item__preview")
							<img class="d-block lazyload" data-src="images/210927-oboykin-rasch-kids-i-teens-iii-41.jpg"  alt="img">
						div(class="container")
							div(class="row justify-content-center")
								div(class="col-12 col-lg-6")
									div(class="carousel-item__content")
										h1(class="h1 text-center pb-4")
											| Изготовление стоек вигвама
										a(href="#" class="btn")
											| Заказать
				</div>
				<div class="carousel-item">
					div(class="h-100 d-flex align-items-center")
						div(class="carousel-item__preview")
							<img class="d-block lazyload" data-src="images/210927-oboykin-rasch-kids-i-teens-iii-41.jpg"  alt="img">
						div(class="container")
							div(class="row justify-content-center")
								div(class="col-12 col-lg-6")
									div(class="carousel-item__content")
										h2(class="h1 text-center pb-4")
											| Изготовление стоек вигвама
										a(href="#" class="btn")
											| Заказать
				</div>
				<div class="carousel-item">
					div(class="h-100 d-flex align-items-center")
						div(class="carousel-item__preview")
							<img class="d-block lazyload" data-src="images/210927-oboykin-rasch-kids-i-teens-iii-41.jpg"  alt="img">
						div(class="container")
							div(class="row justify-content-center")
								div(class="col-12 col-lg-6")
									div(class="carousel-item__content")
										h2(class="h1 text-center pb-4")
											| Изготовление стоек вигвама
										a(href="#" class="btn")
											| Заказать
				</div>
			</div>
		</div>
	</div>
	include components/banner-area.pug
	include components/hot-area.pug
	<div class="pro-banners-content">
		<div class="fullwidth-banner">
			<div class="col-12 col-lg-6 parallax-banner-text">
				<span class="sub-title">ДЕКОР</span>
				<h2>Декоративный садовый забор</h2>
				<p>Мы изготовим любой тип декоративного деревянного садового забора по вашим параметрам и пожеланиям</p>
				<button class="btn">В каталог</button>
			</div>
		</div>
	</div>
	<section class="pro-blog-content pro-content">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="pro-heading-title">
						<h2>Статьи</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="blog-carousel-js">
						- for (var i = 0; i < 6; i++)
							<div class="">
								<div class="blog">
									<a class="blog-thumb" href="#">
										<img class="img-fluid" src="images/itemd.png" alt="Blog-Image">
									</a>
									<div class="blog-info">
										<div class="blog-meta">
											<div class="d-flex align-items-center">
												<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M15.8906 1.40625H15.0469V0H13.6406V1.40625H4.35938V0H2.95312V1.40625H2.10938C0.946266 1.40625 0 2.35252 0 3.51562V15.8906C0 17.0537 0.946266 18 2.10938 18H15.8906C17.0537 18 18 17.0537 18 15.8906V3.51562C18 2.35252 17.0537 1.40625 15.8906 1.40625ZM16.5938 15.8906C16.5938 16.2783 16.2783 16.5938 15.8906 16.5938H2.10938C1.72167 16.5938 1.40625 16.2783 1.40625 15.8906V6.60938H16.5938V15.8906ZM16.5938 5.20312H1.40625V3.51562C1.40625 3.12792 1.72167 2.8125 2.10938 2.8125H2.95312V4.21875H4.35938V2.8125H13.6406V4.21875H15.0469V2.8125H15.8906C16.2783 2.8125 16.5938 3.12792 16.5938 3.51562V5.20312Z" fill="black"/>
													<path d="M4.07812 8.08594H2.67188V9.49219H4.07812V8.08594Z" fill="black"/>
													<path d="M6.89062 8.08594H5.48438V9.49219H6.89062V8.08594Z" fill="black"/>
													<path d="M9.70312 8.08594H8.29688V9.49219H9.70312V8.08594Z" fill="black"/>
													<path d="M12.5156 8.08594H11.1094V9.49219H12.5156V8.08594Z" fill="black"/>
													<path d="M15.3281 8.08594H13.9219V9.49219H15.3281V8.08594Z" fill="black"/>
													<path d="M4.07812 10.8984H2.67188V12.3047H4.07812V10.8984Z" fill="black"/>
													<path d="M6.89062 10.8984H5.48438V12.3047H6.89062V10.8984Z" fill="black"/>
													<path d="M9.70312 10.8984H8.29688V12.3047H9.70312V10.8984Z" fill="black"/>
													<path d="M12.5156 10.8984H11.1094V12.3047H12.5156V10.8984Z" fill="black"/>
													<path d="M4.07812 13.7109H2.67188V15.1172H4.07812V13.7109Z" fill="black"/>
													<path d="M6.89062 13.7109H5.48438V15.1172H6.89062V13.7109Z" fill="black"/>
													<path d="M9.70312 13.7109H8.29688V15.1172H9.70312V13.7109Z" fill="black"/>
													<path d="M12.5156 13.7109H11.1094V15.1172H12.5156V13.7109Z" fill="black"/>
													<path d="M15.3281 10.8984H13.9219V12.3047H15.3281V10.8984Z" fill="black"/>
												</svg>
												span(class="pl-2")
													| 14.07.2020
											</div>
										</div>
										<a class="title" href="#">Джутовая продукция ПРЕМИУМ класса компании «TAKSHAK»</a>
										<p>Джутовый межвенцовый утеплитель – Самый эффективный теплоизоляционный прокладочный материал, применяемый для уплотнения межвенцовых пазов при строительстве деревянных домов!!!</p>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
