extends base.pug
block content
	- BreadcrumbTitle = "Название товара? Или ЧЕ.. не знаю."
	include components/breadcrumb-area.pug

	<div class="item-area page-content product-page product-page-one">
		<div class="container"> 
			<div class="row">
				<div class="col-12">
					<div class="row pb-5">
						<div class="col-12 col-lg-4 zoom-slider">
							<div class="slider-wrapper">
								<div class="slider-for">
									<div class="slider-for__item"  title="Lorem ipsum dolor sit amet">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-for__item"  title="Lorem ipsum dolor sit amet">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-for__item"  title="Lorem ipsum dolor sit amet">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-for__item"  title="Lorem ipsum dolor sit amet">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-for__item"  title="Lorem ipsum dolor sit amet">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
								</div>
								<div class="slider-nav">
									<div class="slider-nav__item">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-nav__item">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-nav__item">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-nav__item">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
									<div class="slider-nav__item">
										<img data-lazy="images/item.png" alt="Zoom Image" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-8">
							<div class="row">
								<div class="col-12 col-md-12">
									<div class="badges">
										<div class="badge badge-info">Рекомендуемые</div>
										<div class="badge badge-danger">Распродажа</div>
										<div class="badge badge-success">Новое</div>
										<div class="badge badge-dark">Нет в наличии</div>
									</div>
									<h2 >Название самого велеколептейшего товара!</h2>
									<div class="pro-price py-3">
										<span>$358<span>$192</span></span>
									</div>
									<div class="pro-info">
										<div class="pro-single-info"><b>ID Продукта :</b><span>1004</span></div>
										<div class="pro-single-info"><b>Категория :</b><span>Rings</span></div>
										<div class="pro-single-info"><b>Доступность :</b><span class="text-secondary">В наличии</span></div>
									</div>
									<div class="pro-options py-4">
										<form class="d-flex justify-content-start py-1" action="" method="">
											label(class="input input__radio")
												input(type="radio" name="option1" value="" checked)
												span()
													| 22 мм.
											label(class="input input__radio")
												input(type="radio" name="option1" value="" )
												span()
													| 25 мм.
											label(class="input input__radio")
												input(type="radio" name="option1" value="" )
												span()
													| 30 мм.
										</form>
									</div>
									<div class="pro-quantiy">
										<form class="input-group-control" action="" method="">
											<input type="text" id="quantity" name="quantity" class="form-control"  maxlength="2" value="10" size="2">
											<span class="input-group-btn">
												<button type="button" value="quantity" class="quantity-plus btn btn-outline-secondary" data-type="plus" data-field="">+</button>
												<button type="button" value="quantity" class="quantity-minus btn btn-outline-secondary" data-type="minus" data-field="">-</button>
											</span>
										</form>
										<form action="" method="">
											<button type="submit" class="btn btn-secondary btn-lg">Добавить в корзину</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 mt-3">
					<div class="nav nav-pills" role="tablist">
						<a class="nav-link nav-item  active" href="#description" id="description-tab" data-toggle="pill" role="tab">Описание</a> 
						<a class="nav-link nav-item " href="#additionalInfo" id="additional-info-tab" data-toggle="pill" role="tab" >Характеристика</a> 
						<a class="nav-link nav-item" href="#review" id="review-tab" data-toggle="pill" role="tab">Отзыв</a> 
					</div> 
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade active show" id="description" aria-labelledby="description-tab">
							<p>НОВИНКА !!!Стойки для  Вигвама крепления втулка, на сегодняшний день самое надежное крепление!!!  Диаметр 22 и 25, длина до 2м любая!!</p>
							<ul>
								<li>ОВИНКА !!!Стойки для  Вигвама крепл</li>
								<li>на сегодняшний день самое надежн</li>
								<li>Диаметр 22 и 25, длина до</li>
							</ul>
						</div>  
						<div role="tabpanel" class="tab-pane fade" id="additionalInfo" aria-labelledby="additional-info-tab">
							<table class="table table-striped table-borderless">
								<tbody>
									<tr>
										<th scope="row">Название бренда:</th>
										<td>lindoMetals</td>
									</tr>
									<tr>
										<th scope="row">Тип материала:</th>
										<td>Silver</td>
									</tr>
									<tr>
										<th scope="row">Производитель:</th>
										<td>Pearl</td>
									</tr>
									<tr>
										<th scope="row">Стиль:</th>
										<td>Trendy</td>
									</tr>
								</tbody>
							</table>
						</div> 
						<div role="tabpanel" class="tab-pane fade " id="review" aria-labelledby="review-tab">
							<div class="reviews">
								div(class="row")
									div(class="col-12 col-lg-6")
										<div class="review-bubbles pb-5">
											<h2 class="pb-4">Отзывы</h2>
											<div class="review-bubble-single">
												<div class="review-bubble-bg">
													<span class="name">Имя</span>
													<span class="date">23.09.2020</span>
													<p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
												</div>
											</div>
											<div class="review-bubble-single">
												<div class="review-bubble-bg">
													<span class="name">Имя</span>
													<span class="date">03.09.2020</span>
													<p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
												</div>
											</div>
										</div>
									div(class="col-12 col-lg-6")
										<form class="write-review" method="" action="">
											<h2 class="pb-4">Напишите свой отзыв</h2>
											<div class="write-review-box">
												<div class="from-group row mb-3">
													<div class="col-12">
														<label>Ваше имя</label>
													</div>
													<div class="input-group col-12">
														<input type="text" class="form-control" id="inlineFormInputGroup00" placeholder="Имя">
													</div>
												</div>
												<div class="from-group row mb-3">
													<div class="col-12">
														<label>Ваша почта</label>
													</div>
													<div class="input-group col-12">
														<input type="text" class="form-control" id="inlineFormInputGroup1" placeholder="Email">
													</div>
												</div>
												<div class="from-group row mb-3">
													<div class="col-12">
														<label>Ваша почта</label>
													</div>
													<div class="input-group col-12">
														<textarea class="form-control" id="inlineFormInputGroup3" placeholder="Сообщение"></textarea>
													</div>
													<div class="from-group pt-4 col-12">
														<button type="submit" class="btn btn-secondary swipe-to-top">Отправить</button>
													</div>
												</div>
											</div>
										</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
