.contacts-area {
	padding: 100px 0 150px 0;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.contact-icon-box {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	background: $mainColor;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;



	img {
		width: 30px;
	}
}
.contact-info {
	span {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000;
	}
	a {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000;
		&:hover {
			color: $mainColor;
			text-decoration: none;
		}
	}
}
