.cart-area {
	.item-detail {
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;

			color: #000000;
			padding-bottom: 2px;
			border-bottom: 1px solid transparent;
			transition: $mainTransition;
			&:hover {
				text-decoration: none;
				color: #000;
				border-bottom: 1px solid #000;
				transition: $mainTransition;
			}
		}
	}
	.item-total,.item-price {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}
	.item-price {
		color: #fe4536;
	}
	.item-detail__delete {
		background: none;
		border: 0px;
	}
}

.form-control {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	&:focus {
		outline: none;
		border: 1px solid #ced4da;
	}
}
.input-group-control {
	.input-group-btn {
		.btn {
			font-size: 16px;
			color: #000;
		}
	}

}

.summery  {
	.right-table tbody td,
	.right-table tbody th {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;

		color: #000000;
	}
	.right-table .item-price {
		th, td {
			color: #fe4536;
			font-weight: bold;
		}
	}
	.btn {
		&:hover {
			text-decoration: none;
		}
	}
}
