/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "template/style.css";
@import "template/settings.css";
@import "template/layers.css";
@import "template/navigation.css";


@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "footer/_footer";
@import "form/_form";
@import "hot/_hot";
@import "breadcrumb/_breadcrumb";
@import "catalog/_catalog";
@import "cart/_cart";
@import "item/_item";
@import "blog/_blog";
@import "about/_about";
@import "stock/_stock";
@import "delivery/_delivery";
@import "contacts/_contacts";
@import "modalWindow/_modal";


.carousel-content {
	height: 526px;
	.carousel {
		height: 100%;
	}
	.carousel-inner {
		height: 100%;
	}
	.carousel-item {
		position: relative;
		height: 100%;

		.carousel-item__preview {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			right:0px;
			bottom: 0px;
			left: 0px;
			img {
				min-width: 100%;
				height: 100%;
			}
		}
		.carousel-item__content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.carousel-indicators li {
		width: 18px;
		height: 18px;
		border: 2px solid #fff;
		opacity: 1;
		border-radius: 100%;
		background: none;
		transition: $mainTransition;
		&.active {
			background: #fff;
			transition: $mainTransition;
		}
	}
	.h1 {
		@media (max-width: 991px) {
			font-size: 28px;
			line-height: 36px;
		}
	}
}

.banners-content {
	padding: 10px 0px;
	.container-fluid {
		figure {
			height: 100%;
			display: flex;
			align-items: center;
			img {
				min-height: unset!important;
				max-height: unset!important;
				@media (min-width: 992px) and (max-width: 1200px) {
					min-width: unset;
					max-width: 100px;

				}
			}
			@media only screen and (max-width: 576px) {
				padding: 15px 15px 30px 15px;
			}
			@media (max-width: 991px) {
				justify-content: space-between;
			}
		}
		.banner-caption {
			&.right-caption {
				padding: 0px 0px 0px 20px;
				position: unset;
				@media (max-width: 991px) {
					width: unset;
				}
			}
		}
	}
	.h2 {
		@media (max-width: 991px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.slick-slider .slick-dots li {
	button {
		box-shadow: inset 0 0 0 2px $mainColor;
	}
	&.slick-active button {
		background-color: $mainColor;
	}
}

.pro-banners-content {
	.fullwidth-banner {
		background-image: url("../images/banner.jpg");
		.sub-title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: $mainColor;
			display: block;
			padding-bottom: 22px;
		}
		h2 {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 44px;
			color: #000000;
			margin-bottom: 32px;
			display: block;
			@media only screen and (max-width: 576px) {
				font-size: 22px;
				line-height: 32px;
			}
		}
		p {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			text-align: center;
			color: #000000;
			margin-bottom: 90px;
		}
	}
}
.pro-blog-content .blog .blog-thumb {
	display: block;
}
.pro-blog-content {
	padding: 70px 15px 75px 15px;
	@media (max-width: 991px) {
		padding: 50px 15px;
	}
}
.pro-blog-content .blog .blog-info {
	margin-top: 25px;
	.blog-meta {
		span {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #656565;
		}
	}
	.title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		padding: 0px;
		display: block;
		margin-bottom: 10px;
	}
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		white-space: normal;
		overflow: unset;
		text-overflow: unset;
		display: block;
		-webkit-line-clamp: unset;
		-webkit-box-orient: unset;
	}
}
