
.pro-header-right-options {
	.btn-cart {
		border: 0px;

		width: 37px;
		height: 37px;
		background-color: #fff;
		border-radius: 100%;

		padding: 0px;

		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		transition: $mainTransition;
		.badge {
			position: absolute;
			border-radius: 100%;
			background-color: $mainColor;

			top: unset;
			right: unset;
			left: -5px;
			bottom: -5px;

			width: 18px;
			height: 18px;

			padding: 0px;
			margin: 0px;

			display: flex;
			justify-content: center;
			align-items: center;
		}
		svg {
			margin-right: 1px;
			path {
				transition: $mainTransition;
				fill: #000;
			}
		}
		&:hover {
			background-color: rgba(255, 255, 255, 0.9);
			transition: $mainTransition;
			svg {
				path {
					transition: $mainTransition;
					fill: $mainColor;
				}
			}
		}
		&:focus {
			outline: none;
		}
	}
}


.header-one .navbar .navbar-collapse .navbar-nav .nav-item {
	&.active {
		.nav-link {
			color: $mainColor;
			border-bottom: 1px solid $mainColor;
		}
	}
	.nav-link {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		padding-bottom: 4px;
		border-bottom: 1px solid transparent;
		transition: $mainTransition;
		&:hover {
			color: $mainColor;
			transition: $mainTransition;
		}
	}
}

#stickyHeader {
	display: none;
}
#stickyHeader {
	.pro-header-right-options .btn-cart {
		background-color: #f5f5f5;
	}
}
#headerMobile {
	.pro-header-right-options .btn-cart {
		background-color: #f5f5f5;
	}
	.nav-item {
		width: 250px;
		text-align: left;
		border-bottom: 1px solid #dee2e6;
		&.active {
			border-bottom: 1px solid $mainColor;
			.nav-link {
				color: $mainColor;
			}
		}
		.nav-link {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
	}
}
.navigation-mobile-toggler {
	padding: 8px 2px!important;
	height: 100%;
	span {
		display: block;
		height: 3px;
		background-color: #000;
		width: 20px;

		position: relative;
		&:before, &:after {
			position: absolute;
			display: block;
			height: 3px;
			background-color: #000;
			width: 100%;
			content: "";
			left: 0px;
		}
		&:before {
			top: -7px;
		}
		&:after {
			bottom: -7px;
		}
	}
}

.header-one .pro-header-right-options .dropdown .dropdown-menu .shopping-cart-items li,
.header-mobile .header-maxi .pro-header-right-options .dropdown .dropdown-menu .shopping-cart-items li  {
	.item-thumb {
		width: 70px;
		position: unset
	}
	.item-detail {
		position: unset;
		padding-left: 8px;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: #000000;
		}
		.item-s {
			span {
				margin: 0px;
				padding: 0px;

				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 18px;
				color: #000000;
			}
			.item-detail__delete {
				svg {
					width: 14px;
					path {
						fill: #000;
					}
				}
				&:hover {
					text-decoration: none;
					svg {
						path {
							fill: $mainColor;
						}
					}
				}
			}

		}
	}
	.image {
		width: 100%;
		display: block;
		img {
			display: block;
		}
	}
	.item-summary {
		color: $mainColor;
	}
}
.header-one .pro-header-right-options .dropdown .dropdown-menu {
	border: 0px;
}
