.hot-block {
	padding: 100px 0px;
	.hot-block__link {
		min-width: 121px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		transition: $mainTransition;
		padding-bottom: 2px;
		border-bottom: 1px solid #000;
		&:hover {
			text-decoration: none;
			color: $mainColor;
			border-bottom: 1px solid $mainColor;
			transition: $mainTransition;
		}
	}
	.product {
		.pro-info {
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				margin-bottom: 10px;
				display: block;
				&:hover {
					text-decoration: none;
					transition: $mainTransition;
				}
			}
		}
		.pro-thumb  a {
			display :block;
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.badges {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
	flex-direction: column;
}
.badge {

	&.badge_sale {
		color: #fff;
		background-color: #dc3545;
	}
}
.pro-price {
	span {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #FE4536;
		span {
			padding-left: 10px;
			font-size: 18px;
			line-height: 24px;
			color: #000;
			text-decoration: line-through;
		}
	}
}
