.item-area {
	padding: 100px 0 150px 0;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
	&.product-page .nav .nav-item.active {
		background: none;
	}
	&.product-page .tab-content .tab-pane {
		padding: 30px 15px;
		@media (max-width: 991px) {
			padding: 25px 15px;
		}
	}
	.badges {
		position: unset;
		display: block;
		.badge {
			margin-right: 0px;
		}
	}
}

.product article .pro-thumb .badges{
	left: 10px;
	top: 10px;
}
.product article .pro-thumb .badges .badge {
	margin-right: 0px;
}

.review-bubble-single {
	position: relative;
	margin-bottom: 15px;
	background: #f0f0f0;
	border-radius: 10px;
	padding: 10px;
	padding-bottom: 20px;
	&:before {
		position: absolute;
		content: "";
		display: block;
		left: 2%;
		bottom: -1px;
		right: 2%;
		height: 2px;
		background: rgba(0,0,0,0.5);
	}
	.name {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		display: block;
		padding-bottom: 6px;
	}

	.date  {
		padding-bottom: 20px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		display: block;
	}

}

@media only screen and (max-width: 576px) {
	.product-page .nav .nav-item {
		width: unset;
		margin-right: 0!important;
		padding: 3px 1px!important;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
